<div class="pure-g-r">
  <aside id="showmaincontaner" class="pure-u-1-3" >
    <div>
      <h2>{{groups.group.organization}}</h2>
      <h3>Lunch Members</h3>
      <ul >
        <li ng-repeat="member in groups.group.members"> {{member.name}} </li>
      </ul>
    </div>


    <div class="">
      <h1>Suggestions</h1>
      <ul>
        <li ng-repeat="suggestion in groups.group.suggestions">{{suggestion.name}} {{suggestion.votes}}</li>
      </ul>
    </div>

    <div class="">
      <h1>Suggestions</h1>
      <ul>
        <li ng-repeat="suggestion in groups.group.suggestions"  value="Add">{{suggestion.name}} {{suggestion.votes}}  <input type="submit" ng-click="groups.upvote(suggestion)"  value="Vote"></li>

      </ul>
    </div>
    <google-places></google-places>


    <button class="pure-button" ui-sref="groupsEdit({ id: groups.group.id})">Edit</button>
    <button class="pure-button" ><a ui-sref="groupsIndex">Back</a></button>
  </aside>
  <aside id="showsidecontainer" class="pure-u-1-4">
    <ul>
      <li ng-repeat="message in groups.messages.messages">{{message.body}} <b>{{message.user}}</b></li>
    </ul>

    <form class="pure-form pure-form-aligned" ng-submit="groups.postMessage()">
      <fieldset>
        <div class="pure-control-group">
          <label for="comments">Comments</label>
          <input id="comments" type="text" placeholder="comments" ng-model="groups.newMessage.body">
        </div>
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
      </fieldset>
    </form>
  </aside>
</div>
