<section class="main-c accent-c-bg landing-p-sect-padng">
  <div class="pure-g-r justify-center">
    <div class="pure-u-4-24"></div>
    <div class="pure-u-16-24">
      <h1 class="jumbo fw-lgt">Democratise<br>group meals! &#x1F389</h1>
      <h2 class="huge fw-lgt">Free your group from the gridlock of meal indecision, poll your way to an agreement on where to go for: {{landingPage.meal}}</h2>
    </div>
  </div>
</section>
<div class="text-center accent-c-bg large landing-p-sect-padng">
  <h1>&#x1F354 &#x1F35C &#x1F373</h1>
</div>
<section class="main-c imp-blue-bg landing-p-sect-padng">
  <div class="pure-g-r">
    <div class="pure-u-4-24"></div>
    <div class="pure-u-16-24">
      <h1 class="jumbo fw-lgt">Easy to use! &#x1F355</h1>
      <h2 class="large fw-lgt">Intuitive and easy voting system with a group viewable to other participants!</h2>
      <h2 class="large fw-lgt">Suggest a place to go eat or drink, and chat about it!</h2>
    </div>
  </div>
</section>
<div class="text-center imp-blue-bg large landing-p-sect-padng">
  <h1>&#x1F357 &#x1F35F &#x1F35B</h1>
</div>
<section class="accent-c off-white-bg landing-p-sect-padng">
  <div class="pure-g-r">
    <div class="pure-u-4-24"></div>
    <div class="pure-u-16-24">
      <h1 class="huge fw-lgt">Already a member?<br><a class="accent-c styled-a" ui-sref="login">Sign in!</a></h1>
      <h1 class="huge fw-lgt">Not a user yet?<br><a class="accent-c styled-a" ui-sref="register">Register</a></h1>
    </div>
  </div>
  <!-- <div class="ending-padding off-white-bg"></div> -->
</section>
<div class="text-center off-white-bg large landing-p-sect-padng">
  <h1>&#x1F369 &#x1F368 &#x1F366</h1>
</div>
<footer class="landing-p-sect-padng accent-c-bg main-c">
  <div class="pure-g-r">
    <div class="pure-u-1-3"></div>
    <div class="pure-u-1-3 text-center landing-p-sect-padng">
      <p>Grubbable 2017</p>
    </div>
  </div>
</footer>
