

<form class="pure-form pure-form-stacked" ng-submit="register.register()">
  <fieldset>
    <legend>Sign up to start polling!</legend>

    <label for="name">Your Name</label>
    <input id="name" type="text" name="name" ng-model="register.user.name" placeholder="Name" >

    <br>
    <label for="email">Email</label>
    <input id="email" type="email" ng-model="register.user.email" placeholder="Email">
    <br>
    <label for="password">Password</label>
    <input id="password" type="password" ng-model="register.user.password" placeholder="Password">
    <br>
    <label for="passwordConfirmation"> Confirm Password</label>
    <input id="passwordConfirmation" type="password" ng-model="register.user.passwordConfirmation" placeholder="Confirm Password">
    <br>
    <button type="submit" class="pure-button pure-button-primary">Get Started!</button>
  </fieldset>
</form>
