google-places{
  height: 300px;
  width: 300px;
  display: inline-block;
}

#showmaincontaner{
width: 74%;
border: 1px solid black;
}

#showsidecontainer{
  width: 25%;
  border: 1px solid black;
}

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}
